

.header_navigation {
  display: flex;
  justify-content: center;
}

.header_logo {
  width: 128px;
}
.header_buttons {
  margin-top: 20px;
}
.header_button {
  transition: 1s;
  margin: 20px;
  color: white;
  background-color: #3D3073;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.header_button:hover {
  transition: 1s;
  cursor: pointer;
  color: rgb(156, 156, 156);
}
.slogan {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.slogan_left {
  color: white;
  width: 270px;
  margin: 30px;
}
.slogan_left_text {
  margin-top: 10px;
  font-size: 20px;
}
.slogan_important {
  color: #6B5AB0;
}
.slogan_right {
  margin: 20px;
}
.slogan_right_title {
  color: #3D3073;
}
.slogan_hamburger_1 {
  width: 100px;
  height: 10px;
  background-color: #6B5AB0;
  border-radius: 20px;
  margin-top: -80px;
}
.slogan_hamburger_2 {
  width: 100px;
  height: 10px;
  background-color: #3D3073;
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 30px;
}
.slogan_hamburger_3 {
  width: 100px;
  height: 10px;
  background-color: #6B5AB0;
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 60px;
}
.slogan_company_title {
  color: white;
  margin-left: 135px;
  margin-top: -20px;
  font-size: 40px;
}
.slogan_right_title {
  font-size: 20px;
}
.about, .about_hamburgers {
  margin-top: 20px;
}
.about_container {
  width: screen;
  height: 350px;
  background-color: #3D3073;
}

.about_hamburger_1 {
  width: 100px;
  height: 10px;
  background-color: #6B5AB0;
  border-radius: 20px;
  margin-top: 5px;
}
.about_hamburger_2 {
  width: 100px;
  height: 10px;
  background-color: white;
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 20px;
}
.about_hamburger_3 {
  width: 100px;
  height: 10px;
  background-color: #6B5AB0;
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 40px;
}
.about_title {
  display: flex;
  justify-content: center;
  margin-left: -60px;
}
.about_header_title {
  color: white;
  font-size: 30px;
  margin-top: -5px;
  margin-left: 10px;
}
.about_header_title_underline {
  width: 135px;
  height: 7px;
  background-color: white;
  border-radius: 10px;
  margin-top: -40px;
  margin-left: 10px;
}
.about_box {
  display: flex;
  justify-content: center;
}
.about_break_point {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 20px;
  background-color: #6B5AB0;
  border-radius: 20px;
}
.box_content {
  color: white;
  font-size: 20px;
  width: 700px;
}
.features_container {
  background-color: #6B5AB0;
  height: 400px;
}
.features_title {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.features_box {
  width: 370px;
  height: 300px;
  background-color: #3D3073;
  margin: 5px;
  border-radius: 20px;
}
.features_boxs {
  display: flex;
  justify-content: center;
}
.features_box_title {
  margin-top: 50px;
  text-align: center;
  color: white;
}
.features_box_description {
  margin-top: 50px;
  text-align: center;
  color: white;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.footer_boxes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.footer_box {
  margin: 20px;
}
.footer_nav_buttons {
  display: grid;
  width: fit-content;
}
.footer_box_title {
  text-align: center;
  color: white;
}
.footer_logo {
  width: 180px;
}
.footer_container {
  margin-top: 100px;
  background-color: #3D3073;
}
.footer_socials_discord {
  width: 64px;
}
.footer_socials_discord:hover {
  cursor: pointer;
}
.footer_nav_button {
  transition: 1s;
  border: none;
  background: none;
  color: white;
}
.footer_nav_button:hover {
  cursor: pointer;
  transition: 1s;
  color: grey;
}
.services_container {
  margin-top: 150px;
  width: screen;
  height: 1000px;
  background-color: #3D3073;
}
.services_header {
  display: flex;
  justify-content: center;
}
.services_header_title {
  color: white;
  font-size: 30px;
  margin-top: -5px;
  margin-left: 10px;
}
.services_header_title_underline {
  width: 125px;
  height: 7px;
  background-color: white;
  border-radius: 10px;
  margin-top: -40px;
  margin-left: 10px;
}
.banner {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 1000px;
  height: 250px;
  background-color: #6B5AB0;
  border-radius: 20px;
}
.banner_title {
  text-align: center;
  font-size: 30px;
  color: white;
}
.banner_breakline {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 10px;
  background-color: #3D3073;
  border-radius: 20px;
  margin-top: -30px;
}
.banner_description {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact_container {
  width: screen;
  height: 600px;
  background-color: #3D3073;
  margin-top: 210px;
  margin-bottom: 200px;
}
.contact_header {
  display: flex;
  justify-content: center;
}
.contact_form {
  margin-top: 50px;
  display: grid;
  justify-content: center;
}
.contact_input_box {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #6B5AB0;
  color: white;
  font-size: 18px;
}
#input_name, #input_surname {
  margin: 20px;
  padding-left: 10px;
}
#input_email {
  margin-left: 175px;
  padding-left: 10px;
}
.contact_textarea {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 250px;
  background-color: #6B5AB0;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: white;
  resize: none;
}
.contact_submit {
  transition: 1s;
  margin-top: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 40px;
  border: none;
  background-color: #6B5AB0;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding-left: 100px;
  padding-top: 10px;
}
.contact_submit:hover {
  transition: 1s;
  cursor: pointer;
  color: rgb(177, 177, 177);
}
.contact_fullname {
  display: flex;
}

@media only screen and (max-width: 730px) {
  .features_boxs {
    display: grid;
  }
  .features_container {
    height: 1100px;
  }
  .box_content {
    text-align: center;
  }
  .header_navigation {
    display: grid;
  }
  .slogan {
    display: grid;
    margin-bottom: 100px;
  }
  .about_container {
    height: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .about_container {
    height: 450px;
  }
}
@media only screen and (max-width: 400px) {
  .about_container {
    height: 600px;
  }
}
@media only screen and (max-width: 450px) {
  .footer_boxes {
    display: grid;
  }
  .footer_box {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_nav_buttons {
    margin-left: 10px;
  }
  .header_button {
    margin: 5px;
  }
}
@media only screen and (max-width: 1000px) {
  .banner {
    width: stretch;
  }
}
@media only screen and (max-width: 600px) {
  .contact_fullname {
    display: grid;
    justify-content: center;
  }
  #input_email {
    margin-left: 20px;
    margin-top: 20px;
  }
  .contact_container {
    height: 750px;
  }
  .contact_textarea {
    width: stretch;
  }
}